<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

      <link type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
      <link type="text/css" href="{{ url_for('static', filename='thumbnail-gallery.css') }}" rel="stylesheet">
      <link href="css/arquivo.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-success fixed-top">
        <a class="navbar-brand" href="#">Friends Gallery</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('home') }}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login_page') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('signup_page') }}">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('search')}}">Search</a>
                </li>
            </ul>
        </div>
    </nav>

    <h4 class="my-4 text-center text-lg-center"> See photos from the Mr. and Mrs Charlie Marriage </h4>

        <div class="row text-center text-lg-left">
            {% for photo in photos %}
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <a href="{{ url_for('view_photo', photo_id=photo[0]) }}" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src='data:image/jpg;base64, {{ photo[1] }}' alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
        <footer class="py-4 bg-success">
            <p class="m-0 text-center text-white"></p>
        </footer>
  </body>
</html>





